@charset "UTF-8";


body{
    margin: 0;
}

header{
    background: #578;
    color: white;
    text-align: center;
    padding: 15px;
    font-weight: normal;
    
}

h1{
    color: #C90;
    font-weight: normal;
    margin: 0;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


nav a{
    padding: 10px;
    background: gray;
    text-decoration: none;
    /* display: inline-block; */

    /* Nedan innebär att hela länken fungerar som ett flexobject, ungefär som <main> på denna sida */
    display: inline-flex;

    /* Placera på samma höjd vertikalt så text hamnar i nivå med ikoner */
    align-items: center;
    color: #ffd;

}

nav a:hover{
    background: lightgray;
    color: black;
}

nav{
    background: gray;
    padding: 5px ;
}
span{
    margin-right: 5px;
}
main{
    
    display: flex;
}

article{
    flex: 3;
    padding-right: 30px;
    padding: 20px;
    background: rgb(227, 227, 227);
}

.ego{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ego span {
    border: 2px solid gold;
    border-radius: 3px;
    padding: 3px;
    
}

table{
    border: 4px solid lightskyblue;
    border-collapse: collapse;
    box-shadow: 7px 7px 5px #578;
}

td{
    border: 3px solid lightcyan;
    padding: 8px;
    
}

td:first-child{
    background: #578;
    color: white;
}

tr:nth-child(odd){
    background: #ffd;
}
tr:nth-child(even){
    background: #fef;
}

aside{
    flex: 1.5;
    padding: 20px;
    
}

footer{
    display: flex;
    background: #578;
    border-top: 5px solid gray;
    color: #ffd;
}

section{
    flex: 1;
    padding: 20px;
}

#lisa1{
    background: url('images/lisa.jpg');
    margin: 10px ;  
    padding: 180px 8px 8px 8px;
    background-size: cover;
    background-position: 0px -50px;
    
    
}

#lisa1 section{
    background: rgba(0, 0, 0,.4);
    padding: 10px;
    margin: 5px;
    color: whitesmoke;
}

h5{
    margin: 0;
}

#lisa1 section p{
    margin: 0;
}

#lisa2{
    background: url('images/lisa2.jpg');
    margin: 10px ;  
    padding: 190px 8px 8px 8px;
    background-size: cover;
    background-position: 0px -80px;
    
}

#lisa2 section{
    background: rgba(0, 0, 0,.4);
    padding: 20px;
    margin: 5px;
    color: whitesmoke;
}

#lisa2 section p{
    margin: 0;
}