body{
    margin: 0;
}

header{
    background: url('../Images/Däck.jpg');
    padding: 180px;
    background-size: cover;
}
nav{
    background-color: gray;
}

nav a{
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: gray;
    color: blanchedalmond;

}

nav a:hover{
    background-color: aqua;
    color: black;
}
main{
    padding-left: 20px;
}
h1{
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    padding-left: 20px;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 20px;
}

p{
    padding-left: 20px;
    
}

#däck{
    padding-left: 20px;
    border: 4px double black;
}

footer{
    padding-left: 20px;
}



