@charset "UTF-8";

body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 50PX;
    padding-right: 50px;
    background:url(bilder/nedladdning\ \(3\).jpg);
    
}

h2{
    font-family: "Great Vibes", cursive;
    color: red;
    background-color: white;
    margin: 10px;
    border: solid green;
}

p{
    color: green;
    background-color: white;
    margin: 10px;
    border: solid red;
}

img{
    width: 100%;
    height: 90%;
    border: dotted  green;
   
}